<div class="container">
    <h1 class="title">All urls</h1>

    <table>
        <tr>
            <th>Short Url</th>
            <th>Full Url</th>
            <th class="delete-column">Delete</th>
        </tr>
        <tr *ngFor="let url of urls">
            <td>{{ url.shortUrl }}</td>
            <td>{{ url.fullUrl }}</td>
            <td class="delete-column">
                <form action="api/Url/delete/{{url.id}}">
                    <button type="submit">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </form>
            </td>
        </tr>
    </table>

    <div class="modifying-block">
        <button (click)="openCreateNewUrlModal(createNewUrlModalTemplate)">Create new</button>
        <ng-template #createNewUrlModalTemplate>
            <app-create-new-url [dataFromParent]="createNewUrlModalRef" (onRefreshData)="refreshData()"></app-create-new-url>
        </ng-template>

        <button (click)="openDeleteAllUrlsModal(deleteAllUrlsModalTemplate)">Delete All</button>
        <ng-template #deleteAllUrlsModalTemplate>
            <app-delete-all-urls [dataFromParent]="deleteAllUrlsModalRef" (onRefreshData)="refreshData()"></app-delete-all-urls>
        </ng-template>
    </div>
</div>